.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;

}

.products__card{
    flex-basis: 25%;
    margin: 20px;
    background: whitesmoke;
    padding: 5px;
    &:hover {
        background: darken($color: whitesmoke, $amount: 15%);
    }
    
}

.products_card-image{
    width: 250;
    height: 300px;
}

.products__name{
    text-decoration: none;
    color: black;
}

.products__price{
    font-size: 20px;
}
